.App {
  /* background-image: url('./images/bg.jpg'); */
  min-width: 100vh;
  min-height: 100vh;
  /* background-size: cover; */
  /* padding-left: 12rem; */
  /* position: relative; */
}
.bg {
  position: absolute;
  right: -0.8rem;
  background-image: url('./assets/leftbg.png');
  min-width: 80vh;
  min-height: 100vh;
  background-size: contain;
  top: -0.5rem;
}
.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  /* width: '100%'; */
  letter-spacing: 0.25em;
  font-size: 10px;
  z-index: 20000;
  padding-left: 5rem;
  position: absolute;
  font-family: 'Nurito' sans-serif;
}
